In [1]:
import os
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import regex as re
import requests
import json
import gdown
import sys
from tqdm import tqdm
import time
import pytz
import datetime
import logging
from tqdm import tqdm
import traceback

# pd.set_option('display.max_rows', None)
# pd.set_option('mode.chained_assignment',None)

* The website had only sugestions to pull data from.
* so we have a sugestion genrator with 3 charecters.
* its total combinations lengeth were 17576

In [ ]:
from itertools import product
from string import ascii_lowercase
keywords = tuple(map(''.join, product(ascii_lowercase, repeat=3)))
print(len(keywords))

17576

## homely concatination extraction

In [ ]:
def get_responce(param):
  headers = {
    'authority': 'api.homely.com.au',
    'accept': 'application/vnd.homely.api.v1+json',
    'accept-language': 'en-US,en',
    # 'cookie': 'FPID=FPID2.3.N%2FEbtITAbMmiXHSpN5dKqwUEGhXZUTd9QALfEHV8ros%3D.1686141859; FPAU=1.3.560087484.1686141858; _fbp=fb.2.1686141926936.1348119019; _ga=GA1.1.2138275943.1686912998; FPLC=uCFc%2BJsc0DG9l3vpG5hv%2B2FiAFSD0pWQDuYfZjyN0vOwAfYd2orzlaVmNuOGy%2B9WUra2aBSVX%2FKlJwSkhdxChnEJbezw1P6u8ce5193ut2zs9Fr21HBRFbgdB%2BZT8g%3D%3D; __cf_bm=1sJS90D7RCmysHXFpTmf8xFz2LRVFZNktF.1VSsuXhI-1687146919-0-AVgBtAHjyNJWB0uerkBvE+PdZ4jLeqUhHyM9HwOsytbqyLy0/ul9JF6+W3SLZvvKug==; _ga_4NDBXXNS0N=GS1.1.1687146917.4.1.1687148033.0.0.0',
    'origin': 'https://www.homely.com.au',
    'referer': 'https://www.homely.com.au/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
    'x-request-client': 'Desktop Web',
    'x-request-epoch': '1687148178',
  }

  params = {
    'q': param,
  }

  response = requests.get('https://api.homely.com.au/search/locations', params=params, headers=headers)
  return response

resp = get_responce('par')
if resp.status_code == 200:
  data = resp.json()

In [ ]:
def get_responce(param):
  headers = {
    'authority': 'api.homely.com.au',
    'accept': 'application/vnd.homely.api.v1+json',
    'accept-language': 'en-US,en',
    # 'cookie': 'FPID=FPID2.3.N%2FEbtITAbMmiXHSpN5dKqwUEGhXZUTd9QALfEHV8ros%3D.1686141859; FPAU=1.3.560087484.1686141858; _fbp=fb.2.1686141926936.1348119019; _ga=GA1.1.2138275943.1686912998; FPLC=uCFc%2BJsc0DG9l3vpG5hv%2B2FiAFSD0pWQDuYfZjyN0vOwAfYd2orzlaVmNuOGy%2B9WUra2aBSVX%2FKlJwSkhdxChnEJbezw1P6u8ce5193ut2zs9Fr21HBRFbgdB%2BZT8g%3D%3D; __cf_bm=1sJS90D7RCmysHXFpTmf8xFz2LRVFZNktF.1VSsuXhI-1687146919-0-AVgBtAHjyNJWB0uerkBvE+PdZ4jLeqUhHyM9HwOsytbqyLy0/ul9JF6+W3SLZvvKug==; _ga_4NDBXXNS0N=GS1.1.1687146917.4.1.1687148033.0.0.0',
    'origin': 'https://www.homely.com.au',
    'referer': 'https://www.homely.com.au/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
    'x-request-client': 'Desktop Web',
    'x-request-epoch': '1687148178',
  }

  params = {
    'q': param,
  }

  response = requests.get('https://api.homely.com.au/search/locations', params=params, headers=headers)

  return response

unique_homely_names=set()
pbar = tqdm(total=17576, desc="Processing", unit="entry")

for keyword in keywords:
  pbar.update(1)
  resp = get_responce(keyword)
  if resp.status_code == 200:
    data = resp.json()
    length_of_data = len(data['locations'])
    for i in range(length_of_data):
      unique_homely_names.add(data['locations'][i]['slug'])

Processing: 100%|██████████| 17576/17576 [4:41:00<00:00,  1.09entry/s]

In [ ]:
print(len(unique_homely_names))

7601

In [ ]:
df = pd.DataFrame(unique_homely_names)
df.to_csv('suburbs_homely.csv')

# Domine Header and Request

In [ ]:
headers = {
    'authority': 'www.domain.com.au',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'content-type': 'application/json',
    # 'cookie': 'domain-mixpanel-id_ab0bde70050c3eabaaf8824402fa01e0=$device:188995b514457e-03d062656d4fe5-26031d51-e0985-188995b5145100b; DEVICE_SESSIONID=a023599d-f7d9-46eb-b321-f121e875624e; searchSOI=nsw; bm_sz=E5C3168193AD41FE541960D95436255D~YAAQX+hUuDpcuJaIAQAA3jpJrhTax8oHVn/x4xpTKyn+pZ3tBypaiFN+fhR/FkbUiUtsbtuptrKHlrQVtLONesMfl+u22kTH6Oe8fVzvoXh0i9/cktskT2ksu8Pl/sK2ke2twQKuLm7o72/j1Zlmj/NztVuvVJHbLx2PWFbJJSVaJroFVp94sNdqGqmQI4m79RXMWA2cJHdE/EMHzxxRm3eeZ0wK365YXrDIM1MggRFMgn8svljDLLWJWCpLyPWBw7cbNNfG4viqhJZSnPCtngE5yd2wCks5OL3m4UX0p2YiWKhVvjefSvZJSq/wRTYWAiQwvgnyyp5HNofRq20=~3421252~4473143; bm_mi=D952F10DCA95880574A8BC722F2EB220~YAAQX+hUuCPXuJaIAQAA0bBarhSxMOjumckKnKAlJGqyac9HJv7nNQQY018qrEOD6li5mlKJJdlDNNnQMNimYXRtxDPmKz5LEZvmj16ofM4zzp1LEoVU9F6EYvK6d4Ip0JJi5ZveAW787x1wVwMpepTQdUBDRpiPzNBKDnV0+8dI12TDQIIgIetF7fMeiQoqfEon4lKfpkhnH1TxQtk4qj2a/LWB2L3d4lue7GxH6gjdtlP2fM1aZcux9RSVPu1DVT/kxVCwUYnQ/rqfYsszfYcWGD+MbOI6nSKiHeuMXKb70P8IDPt9MNraiAvYW9bte2h28jNHksjvzb1xXKvr~1; ak_bmsc=1DE2C239D9A96F1142226B5FA5500183~000000000000000000000000000000~YAAQX+hUuBnYuJaIAQAAcNxarhTQh3sbnvdeNNlrfoGWlFkM3eHfk14mHOm1PZyIU0gmYFxPO9/qdHza1NrXcHuNpWrNwVvbg1dISowLTtF7HsRvUEX7jU+wau+gQjX6thKlHYUF3K50ITyCdJE8dscqRM5NoYZj7uO0M/LIZpD6beritGyU896dEKD/2dPy/o7CGykFe56byEq8XJv3tFoJyQb1fIW8twUkzznRLOKajOXSd/klW/N6rLuvXGJjoFFfWEvBgi4VI4eMtUuGMiQZRQohNzTQ8RbVyI6r+VvPpSIlTqirB6rVBlk2MpvrWdIG6luUwoGnR2ddw6TIAvxcRK2tt3aNdHT84ggGEOn6A+UM+KndYFpWCTHs20VPTUkN2e44Zx5xqTS3zSGMbqvfWarNWtaOtm40CUxLtNdfXgqWJCEytUPJPM0/; bm_sv=A248E62E876DC5FACA1C1B94D0727478~YAAQX+hUuIa9uZaIAQAARvZ7rhQmRelJL4ghZ5opdMFxpF0zmhQLqwSZ2hKhHDu+nS4kBVQLt+JtTF4BO2IMCRWdw76Zsbhp6siOtsux3Rx/s71QUW1TztDbZE/4UyxlV02YXRDKxI2QwV8vQOa9FdGp43thdH3hsqngJNLgI4qBF7/whqCTKRIM23c7wzHh6FMDDWanOVq+Olkac3fGqtE0bH3uK9OxwL5iw7WT6qIbRb9vtC1odx86FasDcBAT5Inf8w==~1; _abck=1DD95BDDF3FCA5D055B5FB003FEBDFF4~0~YAAQX+hUuGW+uZaIAQAAPv97rgokC/jffin+CGwE6ip6uInGb+3nw3Eibix6Nd7g4m/9XzeDvpAJRj3jl30Hp2K6KBS9nLDQrwOx0+O1uxtdrvEu0LRI+e/paHjKnl/Rtmqh2JpWCqTtljFKgjFFr7mVhgDxcSwvuIJZ6YsSOZ05ofNiw9yfkHF0JcAIYYUSNTqgD/GG/RKkcW7xrE1LAxJutk06NJNXOo0WfGpnI+c3Kx6P5YU7nBvve+hi7aeCAwBJY5TSOypVZtDAdCrbUmbzYQjeJcL/DAr6VEGFeL8DOee3iIhi/X7wGnk/gl9cJsOrEQfx54sYX5JlPBMef7GBkKsS/xTbR5HAXHi+hj/OdKa+cwfslumdx7yqTtYKdtqb6jtWQWqQBtQE~-1~-1~1686552014',
    'origin': 'https://www.domain.com.au',
    'referer': 'https://www.domain.com.au/suburb-profile/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
}

In [ ]:
# def extract_first_name(name):
#     # Remove special characters using regex
#     cleaned_name = re.sub('[^a-zA-Z ]', '', name)
#     # Extract the first name
#     first_name = cleaned_name.split()[0]
#     return first_name

# def extract_first_names(names):
#     # Split the names by comma
#     name_list = names.split(',')
#     # Extract the first name from each name
#     first_names = [extract_first_name(name) for name in name_list]
#     return first_names

In [ ]:
unique_names = set()
for sub_urb in keywords:

  try:
    json_data = {
        'variables': {
            'input': sub_urb[0],
            'maxResults': 2000,
            'locationTypes': [
                'SUBURB',
            ],
        },
        'query': '\n        query SuggestLocations(\n          $input: String!\n          $locationTypes: [LocationSuggestionType!]\n          $maxResults: Int\n        ) {\n          suggestLocations(\n            prefixText: $input,\n            locationTypes: $locationTypes,\n            maxResults: $maxResults,\n            exactMatchesToTop: true) {\n            __typename\n            ... on SuburbSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on AreaSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on RegionSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on SchoolSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n          }\n         }\n       ',
    }

    response = requests.post('https://www.domain.com.au/graphql', headers=headers, json=json_data)

    if response.status_code == 200:
        data = response.json()
        length_of_data= len(data['data']['suggestLocations'])
        for i in range(length_of_data):
          value = data['data']['suggestLocations'][i]['value']
          unique_names.add(value)
  except:
    None

* trying to collect the sugestions we have collected 15879 suburbs instard of 15303

In [ ]:
print(len(unique_names))

15879

In [ ]:
df = pd.DataFrame(unique_names)
df.to_csv('urls.csv')

# merging the collected data.

In [9]:
gdown.download_folder(id = '1oQWSvfpqa2ml8g2kduZIuxsJhVDOF5Ou')

Retrieving folder list

Processing file 181ht6nET21MOl_lzpePefv39McPTa9Og Domain_click_1.csv
Processing file 1i3QVNa8fIEd-V98I7AwxM_Xry0QIMSmv Domain_click_2.csv
Processing file 1ynTK3Ojpxc7D9Eep7u3UltmE3R1u83iv Domain_click_3.csv
Processing file 1y2XTK4vWbIyP2EGEagnREOVN0_QUIryq Domain_click_4.csv
Processing file 1G1jx1dfk1WDuEpRGD4CeQEiKCOUeSDFK Domain_click_5.csv
Building directory structure completed

Retrieving folder list completed
Building directory structure
Downloading...
From: https://drive.google.com/uc?id=181ht6nET21MOl_lzpePefv39McPTa9Og
To: /content/Domain extract/Domain_click_1.csv
100%|██████████| 309k/309k [00:00<00:00, 75.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1i3QVNa8fIEd-V98I7AwxM_Xry0QIMSmv
To: /content/Domain extract/Domain_click_2.csv
100%|██████████| 297k/297k [00:00<00:00, 34.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ynTK3Ojpxc7D9Eep7u3UltmE3R1u83iv
To: /content/Domain extract/Domain_click_3.csv
100%|██████████| 323k/323k [00:00<00:00, 77.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1y2XTK4vWbIyP2EGEagnREOVN0_QUIryq
To: /content/Domain extract/Domain_click_4.csv
100%|██████████| 326k/326k [00:00<00:00, 71.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1G1jx1dfk1WDuEpRGD4CeQEiKCOUeSDFK
To: /content/Domain extract/Domain_click_5.csv
100%|██████████| 307k/307k [00:00<00:00, 70.8MB/s]
Download completed

['/content/Domain extract/Domain_click_1.csv',
 '/content/Domain extract/Domain_click_2.csv',
 '/content/Domain extract/Domain_click_3.csv',
 '/content/Domain extract/Domain_click_4.csv',
 '/content/Domain extract/Domain_click_5.csv']

In [10]:
df1 = pd.read_csv('/content/Domain extract/Domain_click_1.csv')
df2 = pd.read_csv('/content/Domain extract/Domain_click_2.csv')
df3 = pd.read_csv('/content/Domain extract/Domain_click_3.csv')
df4 = pd.read_csv('/content/Domain extract/Domain_click_4.csv')
df5 = pd.read_csv('/content/Domain extract/Domain_click_5.csv')

In [11]:
# suburbdf = pd.DataFrame()
suburbdf = pd.concat([suburbdf,df1],ignore_index =True)
suburbdf = pd.concat([suburbdf,df2],ignore_index =True)
suburbdf = pd.concat([suburbdf,df3],ignore_index =True)
suburbdf = pd.concat([suburbdf,df4],ignore_index =True)
suburbdf = pd.concat([suburbdf,df5],ignore_index =True)
suburbdf

,Bedrooms,Type,Median Price,Avg Days on Market,Clearance Rate,Sold This Year,POPULATION,AVERAGE AGE,OWNER,RENTER,...,no_of_sales_2021,median_price_2020,growth_rate_2020,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018
0,2.0,House,-,-,-,1.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,House,$570k,54 days,-,18.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,$408k,11.8%,14.0,$365k,-3.4%,14.0,NaN,NaN,NaN
4,4.0,House,$662k,44 days,-,69.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36,$565k,-3.4%,49,$585k,-2.5%,44,NaN,NaN,NaN
51694,4.0,House,$980k,48 days,-,48.0,"8,226",40 to 59,85%,15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80,$690k,-1.4%,67,$700k,-5.4%,58,NaN,NaN,NaN
51696,5.0,House,$1.135m,-,-,10.0,"8,226",40 to 59,85%,15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12,$723k,-,12,NaN,-,7,NaN,NaN,NaN

In [15]:
df = suburbdf

In [31]:
len(suburbdf['SUBURB'].unique())

6398

In [13]:
name = 'DomainData.csv'
suburbdf.to_csv(name, index=False)

# checkpoint

In [181]:
df = pd.read_csv('/content/DomainData.csv')

<ipython-input-181-f57b74043db1>:1: DtypeWarning: Columns (34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/DomainData.csv')

In [182]:
selected = df.iloc[:,14:].columns
df[selected] = df[selected].shift(-1)
df = df.dropna(axis=0, how='all')
df

,Bedrooms,Type,Median Price,Avg Days on Market,Clearance Rate,Sold This Year,POPULATION,AVERAGE AGE,OWNER,RENTER,...,no_of_sales_2021,median_price_2020,growth_rate_2020,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018
0,2.0,House,-,-,-,1.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,House,$570k,54 days,-,18.0,"3,103",20 to 39,63%,37%,...,18.0,$408k,11.8%,14.0,$365k,-3.4%,14.0,NaN,NaN,NaN
4,4.0,House,$662k,44 days,-,69.0,"3,103",20 to 39,63%,37%,...,100.0,$439k,-0.7%,65.0,$442k,-6.8%,52.0,NaN,NaN,NaN
6,5.0,House,$805k,-,-,11.0,"3,103",20 to 39,63%,37%,...,11.0,$526k,-,10.0,NaN,-,8.0,NaN,NaN,NaN
8,2.0,Unit,-,-,-,2.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51688,4.0,House,-,-,-,3.0,374,40 to 59,74%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51690,2.0,House,-,-,-,2.0,"8,226",40 to 59,85%,15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51692,3.0,House,$795k,25 days,-,29.0,"8,226",40 to 59,85%,15%,...,36,$565k,-3.4%,49,$585k,-2.5%,44,NaN,NaN,NaN
51694,4.0,House,$980k,48 days,-,48.0,"8,226",40 to 59,85%,15%,...,80,$690k,-1.4%,67,$700k,-5.4%,58,NaN,NaN,NaN
51696,5.0,House,$1.135m,-,-,10.0,"8,226",40 to 59,85%,15%,...,12,$723k,-,12,NaN,-,7,NaN,NaN,NaN

In [183]:
df['Postcode'] = df['SUBURB'].apply(lambda x: x[-4:].title())
df['State'] = df['SUBURB'].apply(lambda x: x.split('-')[-2].title())
df['Suburb Name'] = df['SUBURB'].apply(lambda x: ' '.join(x.split('-')[:-2]).title())
df['Postcode'] = df['Postcode'].apply(lambda x: str(x).zfill(4))

In [184]:
state_names = {
    'Tas': 'Tasmania',
    'Nsw': 'New South Wales',
    'Qld': 'Queensland',
    'Nt': 'Northern Territory',
    'Vic': 'Victoria',
    'Sa': 'South Australia',
    'Act': 'Australian Capital Territory',
    'Wa': 'Western Australia'
    }
df['State'] = df['State'].replace(state_names)

In [185]:
new_column_names = {col: col.lower().replace(' ', '_') for col in df.columns}
df = df.rename(columns=new_column_names)

In [186]:
df['avg_days_on_market'] = df['avg_days_on_market'].apply(lambda x: np.nan if x == '-' else str(x).replace(' days', ''))

In [187]:
df[['median_price','median_price_2018','median_price_2019','median_price_2020','median_price_2021','median_price_2022','median_price_2023']]

,median_price,median_price_2018,median_price_2019,median_price_2020,median_price_2021,median_price_2022,median_price_2023
0,-,NaN,NaN,NaN,NaN,NaN,NaN
2,$570k,NaN,$365k,$408k,$400k,$500k,$570k
4,$662k,NaN,$442k,$439k,$474k,$580k,$662k
6,$805k,NaN,NaN,$526k,$630k,$870k,$805k
8,-,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
51688,-,NaN,NaN,NaN,NaN,NaN,NaN
51690,-,NaN,NaN,NaN,NaN,NaN,NaN
51692,$795k,NaN,$585k,$565k,$580k,$789k,$795k
51694,$980k,NaN,$700k,$690k,$753k,$970k,$980k
51696,$1.135m,NaN,NaN,$723k,$845k,$1.115m,$1.135m

In [188]:
del df[df.columns[14]]
df = df.rename(columns = {df.columns[14]:'rental_median_price',df.columns[15]:'auction_clearance',df.columns[16]:'average_days_on_market'})

In [189]:
def convert_to_float(value):
    try:

      multiplier = 1
      if value.endswith('k'):
          multiplier = 1000
      elif value.endswith('m'):
          multiplier = 1000000
      value = re.sub('[^\d.]', '', value)
      return (float(value) * multiplier)
    except:
      None

columns_to_clean = ['median_price','rental_median_price', 'median_price_2018', 'median_price_2019', 'median_price_2020', 'median_price_2021', 'median_price_2022', 'median_price_2023']
for column in columns_to_clean:
    df[column] = df[column].astype(str).apply(lambda x: x.replace('$', '') if pd.notnull(x) else x)
    df[column] = [convert_to_float(value) for value in df[column]]

df[['median_price','rental_median_price','median_price_2018','median_price_2019','median_price_2020','median_price_2021','median_price_2022','median_price_2023']]

,median_price,rental_median_price,median_price_2018,median_price_2019,median_price_2020,median_price_2021,median_price_2022,median_price_2023
0,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
2,570000.0,580.0,None,365000.0,408000.0,400000.0,500000.0,570000.0
4,662000.0,645.0,None,442000.0,439000.0,474000.0,580000.0,662000.0
6,805000.0,NaN,None,NaN,526000.0,630000.0,870000.0,805000.0
8,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
51688,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
51690,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
51692,795000.0,570.0,None,585000.0,565000.0,580000.0,789000.0,795000.0
51694,980000.0,690.0,None,700000.0,690000.0,753000.0,970000.0,980000.0
51696,1135000.0,NaN,None,NaN,723000.0,845000.0,1115000.0,1135000.0

In [192]:
df[['growth_rate_2018','growth_rate_2019','growth_rate_2020','growth_rate_2021','growth_rate_2022','growth_rate_2023']]

,growth_rate_2018,growth_rate_2019,growth_rate_2020,growth_rate_2021,growth_rate_2022,growth_rate_2023
0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-3.4%,11.8%,-2%,25%,14%
4,NaN,-6.8%,-0.7%,8%,22.4%,14.1%
6,NaN,-,-,19.8%,38.1%,-7.5%
8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
51688,NaN,NaN,NaN,NaN,NaN,NaN
51690,NaN,NaN,NaN,NaN,NaN,NaN
51692,NaN,-2.5%,-3.4%,2.7%,36%,0.8%
51694,NaN,-5.4%,-1.4%,9.1%,28.8%,1%
51696,NaN,-,-,16.9%,32%,1.8%

In [193]:
columns_to_clean = ['growth_rate_2018','growth_rate_2019','growth_rate_2020','growth_rate_2021','growth_rate_2022','growth_rate_2023']
for column in columns_to_clean:
    df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df[['growth_rate_2018','growth_rate_2019','growth_rate_2020','growth_rate_2021','growth_rate_2022','growth_rate_2023']]

,growth_rate_2018,growth_rate_2019,growth_rate_2020,growth_rate_2021,growth_rate_2022,growth_rate_2023
0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-3.4,11.8,-2.0,25.0,14.0
4,NaN,-6.8,-0.7,8.0,22.4,14.1
6,NaN,NaN,NaN,19.8,38.1,-7.5
8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
51688,NaN,NaN,NaN,NaN,NaN,NaN
51690,NaN,NaN,NaN,NaN,NaN,NaN
51692,NaN,-2.5,-3.4,2.7,36.0,0.8
51694,NaN,-5.4,-1.4,9.1,28.8,1.0
51696,NaN,NaN,NaN,16.9,32.0,1.8

In [205]:
df['avg_days_on_market'] = df['avg_days_on_market'].astype(float)
df['clearance_rate'] = df['clearance_rate'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['population'] = df['population'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',', '').replace('+', '')))
df['owner'] = df['owner'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['renter'] = df['renter'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['family'] = df['family'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['single'] = df['single'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['auction_clearance'] = df['auction_clearance'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))

In [208]:
del df['average_days_on_market']

In [213]:
columns_to_clean = ['no_of_sales_2018','no_of_sales_2019','no_of_sales_2020','no_of_sales_2021','no_of_sales_2022','no_of_sales_2023']
for column in columns_to_clean:
    df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(x))

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25849 entries, 0 to 51696
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bedrooms             25849 non-null  float64
 1   type                 25849 non-null  object
 2   median_price         9316 non-null   float64
 3   avg_days_on_market   8047 non-null   float64
 4   clearance_rate       2538 non-null   float64
 5   sold_this_year       25849 non-null  float64
 6   population           24735 non-null  float64
 7   average_age          24711 non-null  object
 8   owner                24706 non-null  float64
 9   renter               24706 non-null  float64
 10  family               24465 non-null  float64
 11  single               24465 non-null  float64
 12  suburb               25849 non-null  object
 13  time_stamp           25849 non-null  object
 14  rental_median_price  7553 non-null   float64
 15  auction_clearance    2510 non-null   float64
 16  median_price_2023    9316 non-null   float64
 17  growth_rate_2023     8665 non-null   float64
 18  no_of_sales_2023     9368 non-null   float64
 19  median_price_2022    8812 non-null   float64
 20  growth_rate_2022     8079 non-null   float64
 21  no_of_sales_2022     9368 non-null   float64
 22  median_price_2021    8309 non-null   float64
 23  growth_rate_2021     7300 non-null   float64
 24  no_of_sales_2021     9355 non-null   float64
 25  median_price_2020    7617 non-null   float64
 26  growth_rate_2020     6774 non-null   float64
 27  no_of_sales_2020     9304 non-null   float64
 28  median_price_2019    7457 non-null   float64
 29  growth_rate_2019     6900 non-null   float64
 30  no_of_sales_2019     9311 non-null   float64
 31  median_price_2018    0 non-null      object
 32  growth_rate_2018     0 non-null      float64
 33  no_of_sales_2018     1 non-null      float64
 34  postcode             25849 non-null  object
 35  state                25849 non-null  object
 36  suburb_name          25849 non-null  object
dtypes: float64(29), object(8)
memory usage: 7.5+ MB

In [215]:
df['postcode'] = df['postcode'].apply(lambda x: str(x).zfill(4))

In [217]:
df

,bedrooms,type,median_price,avg_days_on_market,clearance_rate,sold_this_year,population,average_age,owner,renter,...,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018,postcode,state,suburb_name
0,2.0,House,NaN,NaN,NaN,1.0,3103.0,20 to 39,63.0,37.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,4879,Queensland,Trinity Park
2,3.0,House,570000.0,54.0,NaN,18.0,3103.0,20 to 39,63.0,37.0,...,14.0,365000.0,-3.4,14.0,None,NaN,NaN,4879,Queensland,Trinity Park
4,4.0,House,662000.0,44.0,NaN,69.0,3103.0,20 to 39,63.0,37.0,...,65.0,442000.0,-6.8,52.0,None,NaN,NaN,4879,Queensland,Trinity Park
6,5.0,House,805000.0,NaN,NaN,11.0,3103.0,20 to 39,63.0,37.0,...,10.0,NaN,NaN,8.0,None,NaN,NaN,4879,Queensland,Trinity Park
8,2.0,Unit,NaN,NaN,NaN,2.0,3103.0,20 to 39,63.0,37.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,4879,Queensland,Trinity Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51688,4.0,House,NaN,NaN,NaN,3.0,374.0,40 to 59,74.0,26.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,4285,Queensland,Veresdale
51690,2.0,House,NaN,NaN,NaN,2.0,8226.0,40 to 59,85.0,15.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2530,New South Wales,Horsley
51692,3.0,House,795000.0,25.0,NaN,29.0,8226.0,40 to 59,85.0,15.0,...,49.0,585000.0,-2.5,44.0,None,NaN,NaN,2530,New South Wales,Horsley
51694,4.0,House,980000.0,48.0,NaN,48.0,8226.0,40 to 59,85.0,15.0,...,67.0,700000.0,-5.4,58.0,None,NaN,NaN,2530,New South Wales,Horsley
51696,5.0,House,1135000.0,NaN,NaN,10.0,8226.0,40 to 59,85.0,15.0,...,12.0,NaN,NaN,7.0,None,NaN,NaN,2530,New South Wales,Horsley

In [216]:
df.columns

Index(['bedrooms', 'type', 'median_price', 'avg_days_on_market',
       'clearance_rate', 'sold_this_year', 'population', 'average_age',
       'owner', 'renter', 'family', 'single', 'suburb', 'time_stamp',
       'rental_median_price', 'auction_clearance', 'median_price_2023',
       'growth_rate_2023', 'no_of_sales_2023', 'median_price_2022',
       'growth_rate_2022', 'no_of_sales_2022', 'median_price_2021',
       'growth_rate_2021', 'no_of_sales_2021', 'median_price_2020',
       'growth_rate_2020', 'no_of_sales_2020', 'median_price_2019',
       'growth_rate_2019', 'no_of_sales_2019', 'median_price_2018',
       'growth_rate_2018', 'no_of_sales_2018', 'postcode', 'state',
       'suburb_name'],
      dtype='object')

In [225]:
df = df.reset_index(drop=True)

In [226]:
df = df.sort_values(by=['postcode', 'suburb_name'])

In [227]:
custom = ['postcode', 'state','suburb_name','bedrooms', 'type', 'median_price', 'avg_days_on_market',
       'clearance_rate', 'sold_this_year', 'population', 'average_age',
       'owner', 'renter', 'family', 'single', 'suburb', 'time_stamp',
       'rental_median_price', 'auction_clearance', 'median_price_2023',
       'growth_rate_2023', 'no_of_sales_2023', 'median_price_2022',
       'growth_rate_2022', 'no_of_sales_2022', 'median_price_2021',
       'growth_rate_2021', 'no_of_sales_2021', 'median_price_2020',
       'growth_rate_2020', 'no_of_sales_2020', 'median_price_2019',
       'growth_rate_2019', 'no_of_sales_2019', 'median_price_2018',
       'growth_rate_2018', 'no_of_sales_2018']
df = df.reindex(columns = custom)
df

,postcode,state,suburb_name,bedrooms,type,median_price,avg_days_on_market,clearance_rate,sold_this_year,population,...,no_of_sales_2021,median_price_2020,growth_rate_2020,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018
0,0800,Northern Territory,Darwin City,2.0,House,NaN,NaN,NaN,2.0,6463.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
1,0800,Northern Territory,Darwin City,3.0,House,NaN,NaN,NaN,2.0,6463.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2,0800,Northern Territory,Darwin City,4.0,House,NaN,NaN,NaN,1.0,6463.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
3,0800,Northern Territory,Darwin City,1.0,Unit,261000.0,174.0,NaN,61.0,6463.0,...,30.0,190000.0,-17.4,21.0,230000.0,NaN,23.0,None,NaN,NaN
4,0800,Northern Territory,Darwin City,2.0,Unit,417000.0,184.0,NaN,112.0,6463.0,...,67.0,298000.0,-16.1,50.0,355000.0,3.5,35.0,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25844,7470,Tasmania,Rosebery,3.0,House,167000.0,49.0,NaN,22.0,719.0,...,17.0,NaN,NaN,8.0,130000.0,NaN,11.0,None,NaN,NaN
25845,7470,Tasmania,Rosebery,4.0,House,NaN,NaN,NaN,1.0,719.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
25846,7470,Tasmania,Rosebery,5.0,House,NaN,NaN,NaN,1.0,719.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
25847,7470,Tasmania,Rosebery,2.0,Unit,NaN,NaN,NaN,5.0,719.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
25848,7470,Tasmania,Rosebery,3.0,Unit,NaN,NaN,NaN,2.0,719.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN

In [229]:
australia_timezone = pytz.timezone('Australia/Sydney')
current_time = datetime.datetime.now(australia_timezone)
filename = 'Domain_Extract_'+ str(current_time.date()).replace('-', '')+'.xlsx'
df.to_excel(filename,index = False)