In [17]:
import os
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import regex as re
import requests
import json
import gdown
import sys
from tqdm import tqdm
import time
import pytz
import datetime
import logging
from tqdm import tqdm
import traceback

# pd.set_option('display.max_rows', None)
# pd.set_option('mode.chained_assignment',None)

* The website had only sugestions to pull data from.
* so we have a sugestion genrator with 3 charecters.
* its total combinations lengeth were 17576

In [ ]:
from itertools import product
from string import ascii_lowercase
keywords = tuple(map(''.join, product(ascii_lowercase, repeat=3)))
print(len(keywords))

17576

In [ ]:
def get_responce(param):
  headers = {
    'authority': 'api.homely.com.au',
    'accept': 'application/vnd.homely.api.v1+json',
    'accept-language': 'en-US,en',
    # 'cookie': 'FPID=FPID2.3.N%2FEbtITAbMmiXHSpN5dKqwUEGhXZUTd9QALfEHV8ros%3D.1686141859; FPAU=1.3.560087484.1686141858; _fbp=fb.2.1686141926936.1348119019; _ga=GA1.1.2138275943.1686912998; FPLC=uCFc%2BJsc0DG9l3vpG5hv%2B2FiAFSD0pWQDuYfZjyN0vOwAfYd2orzlaVmNuOGy%2B9WUra2aBSVX%2FKlJwSkhdxChnEJbezw1P6u8ce5193ut2zs9Fr21HBRFbgdB%2BZT8g%3D%3D; __cf_bm=1sJS90D7RCmysHXFpTmf8xFz2LRVFZNktF.1VSsuXhI-1687146919-0-AVgBtAHjyNJWB0uerkBvE+PdZ4jLeqUhHyM9HwOsytbqyLy0/ul9JF6+W3SLZvvKug==; _ga_4NDBXXNS0N=GS1.1.1687146917.4.1.1687148033.0.0.0',
    'origin': 'https://www.homely.com.au',
    'referer': 'https://www.homely.com.au/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
    'x-request-client': 'Desktop Web',
    'x-request-epoch': '1687148178',
  }

  params = {
    'q': param,
  }

  response = requests.get('https://api.homely.com.au/search/locations', params=params, headers=headers)

  return response

unique_homely_names=set()
pbar = tqdm(total=17576, desc="Processing", unit="entry")

for keyword in keywords:
  pbar.update(1)
  resp = get_responce(keyword)
  if resp.status_code == 200:
    data = resp.json()
    length_of_data = len(data['locations'])
    for i in range(length_of_data):
      unique_homely_names.add(data['locations'][i]['slug'])

Processing: 100%|██████████| 17576/17576 [4:41:00<00:00,  1.09entry/s]

In [ ]:
print(len(unique_homely_names))

7601

In [ ]:
df = pd.DataFrame(unique_homely_names)
df.to_csv('suburbs_homely.csv')

# Domine Header and Request

In [ ]:
headers = {
    'authority': 'www.domain.com.au',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'content-type': 'application/json',
    # 'cookie': 'domain-mixpanel-id_ab0bde70050c3eabaaf8824402fa01e0=$device:188995b514457e-03d062656d4fe5-26031d51-e0985-188995b5145100b; DEVICE_SESSIONID=a023599d-f7d9-46eb-b321-f121e875624e; searchSOI=nsw; bm_sz=E5C3168193AD41FE541960D95436255D~YAAQX+hUuDpcuJaIAQAA3jpJrhTax8oHVn/x4xpTKyn+pZ3tBypaiFN+fhR/FkbUiUtsbtuptrKHlrQVtLONesMfl+u22kTH6Oe8fVzvoXh0i9/cktskT2ksu8Pl/sK2ke2twQKuLm7o72/j1Zlmj/NztVuvVJHbLx2PWFbJJSVaJroFVp94sNdqGqmQI4m79RXMWA2cJHdE/EMHzxxRm3eeZ0wK365YXrDIM1MggRFMgn8svljDLLWJWCpLyPWBw7cbNNfG4viqhJZSnPCtngE5yd2wCks5OL3m4UX0p2YiWKhVvjefSvZJSq/wRTYWAiQwvgnyyp5HNofRq20=~3421252~4473143; bm_mi=D952F10DCA95880574A8BC722F2EB220~YAAQX+hUuCPXuJaIAQAA0bBarhSxMOjumckKnKAlJGqyac9HJv7nNQQY018qrEOD6li5mlKJJdlDNNnQMNimYXRtxDPmKz5LEZvmj16ofM4zzp1LEoVU9F6EYvK6d4Ip0JJi5ZveAW787x1wVwMpepTQdUBDRpiPzNBKDnV0+8dI12TDQIIgIetF7fMeiQoqfEon4lKfpkhnH1TxQtk4qj2a/LWB2L3d4lue7GxH6gjdtlP2fM1aZcux9RSVPu1DVT/kxVCwUYnQ/rqfYsszfYcWGD+MbOI6nSKiHeuMXKb70P8IDPt9MNraiAvYW9bte2h28jNHksjvzb1xXKvr~1; ak_bmsc=1DE2C239D9A96F1142226B5FA5500183~000000000000000000000000000000~YAAQX+hUuBnYuJaIAQAAcNxarhTQh3sbnvdeNNlrfoGWlFkM3eHfk14mHOm1PZyIU0gmYFxPO9/qdHza1NrXcHuNpWrNwVvbg1dISowLTtF7HsRvUEX7jU+wau+gQjX6thKlHYUF3K50ITyCdJE8dscqRM5NoYZj7uO0M/LIZpD6beritGyU896dEKD/2dPy/o7CGykFe56byEq8XJv3tFoJyQb1fIW8twUkzznRLOKajOXSd/klW/N6rLuvXGJjoFFfWEvBgi4VI4eMtUuGMiQZRQohNzTQ8RbVyI6r+VvPpSIlTqirB6rVBlk2MpvrWdIG6luUwoGnR2ddw6TIAvxcRK2tt3aNdHT84ggGEOn6A+UM+KndYFpWCTHs20VPTUkN2e44Zx5xqTS3zSGMbqvfWarNWtaOtm40CUxLtNdfXgqWJCEytUPJPM0/; bm_sv=A248E62E876DC5FACA1C1B94D0727478~YAAQX+hUuIa9uZaIAQAARvZ7rhQmRelJL4ghZ5opdMFxpF0zmhQLqwSZ2hKhHDu+nS4kBVQLt+JtTF4BO2IMCRWdw76Zsbhp6siOtsux3Rx/s71QUW1TztDbZE/4UyxlV02YXRDKxI2QwV8vQOa9FdGp43thdH3hsqngJNLgI4qBF7/whqCTKRIM23c7wzHh6FMDDWanOVq+Olkac3fGqtE0bH3uK9OxwL5iw7WT6qIbRb9vtC1odx86FasDcBAT5Inf8w==~1; _abck=1DD95BDDF3FCA5D055B5FB003FEBDFF4~0~YAAQX+hUuGW+uZaIAQAAPv97rgokC/jffin+CGwE6ip6uInGb+3nw3Eibix6Nd7g4m/9XzeDvpAJRj3jl30Hp2K6KBS9nLDQrwOx0+O1uxtdrvEu0LRI+e/paHjKnl/Rtmqh2JpWCqTtljFKgjFFr7mVhgDxcSwvuIJZ6YsSOZ05ofNiw9yfkHF0JcAIYYUSNTqgD/GG/RKkcW7xrE1LAxJutk06NJNXOo0WfGpnI+c3Kx6P5YU7nBvve+hi7aeCAwBJY5TSOypVZtDAdCrbUmbzYQjeJcL/DAr6VEGFeL8DOee3iIhi/X7wGnk/gl9cJsOrEQfx54sYX5JlPBMef7GBkKsS/xTbR5HAXHi+hj/OdKa+cwfslumdx7yqTtYKdtqb6jtWQWqQBtQE~-1~-1~1686552014',
    'origin': 'https://www.domain.com.au',
    'referer': 'https://www.domain.com.au/suburb-profile/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
}

In [ ]:
# def extract_first_name(name):
#     # Remove special characters using regex
#     cleaned_name = re.sub('[^a-zA-Z ]', '', name)
#     # Extract the first name
#     first_name = cleaned_name.split()[0]
#     return first_name

# def extract_first_names(names):
#     # Split the names by comma
#     name_list = names.split(',')
#     # Extract the first name from each name
#     first_names = [extract_first_name(name) for name in name_list]
#     return first_names

In [ ]:
unique_names = set()
for sub_urb in keywords:

  try:
    json_data = {
        'variables': {
            'input': sub_urb[0],
            'maxResults': 2000,
            'locationTypes': [
                'SUBURB',
            ],
        },
        'query': '\n        query SuggestLocations(\n          $input: String!\n          $locationTypes: [LocationSuggestionType!]\n          $maxResults: Int\n        ) {\n          suggestLocations(\n            prefixText: $input,\n            locationTypes: $locationTypes,\n            maxResults: $maxResults,\n            exactMatchesToTop: true) {\n            __typename\n            ... on SuburbSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on AreaSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on RegionSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on SchoolSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n          }\n         }\n       ',
    }

    response = requests.post('https://www.domain.com.au/graphql', headers=headers, json=json_data)

    if response.status_code == 200:
        data = response.json()
        length_of_data= len(data['data']['suggestLocations'])
        for i in range(length_of_data):
          value = data['data']['suggestLocations'][i]['value']
          unique_names.add(value)
  except:
    None

* trying to collect the sugestions we have collected 15879 suburbs instard of 15303

In [ ]:
print(len(unique_names))

15879

In [ ]:
df = pd.DataFrame(unique_names)
df.to_csv('urls.csv')

# merging the collected data.

In [23]:
gdown.download_folder(id = '1oQWSvfpqa2ml8g2kduZIuxsJhVDOF5Ou')

Retrieving folder list

Processing file 1hwiZS9bKvUt5rcBV2s5bcoQbx-C7g33I Domain_click_1.csv
Processing file 1LoNwHshzKSfta-TdQ2hkobqYmpAu0xWu Domain_click_2.csv
Processing file 1gww8m7LG1Gfjvq5T2aw_khg7JIh_gDMF Domain_click_3.csv
Processing file 1LlGfDJbi3tvMpsCLPwkG8Q5JMf642ObF Domain_click_4.csv
Processing file 1-oRnDLeRN_oxt3HjX7Z4O9wlb-Nou3Yz Domain_click_5.csv
Processing file 1DcXh4LCxL_THi9TK4XXbfyl9B2_GEJG1 Domain_click_6.csv
Building directory structure completed

Retrieving folder list completed
Building directory structure
Downloading...
From: https://drive.google.com/uc?id=1hwiZS9bKvUt5rcBV2s5bcoQbx-C7g33I
To: /content/Domain extract/Domain_click_1.csv
100%|██████████| 510k/510k [00:00<00:00, 92.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1LoNwHshzKSfta-TdQ2hkobqYmpAu0xWu
To: /content/Domain extract/Domain_click_2.csv
100%|██████████| 500k/500k [00:00<00:00, 61.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1gww8m7LG1Gfjvq5T2aw_khg7JIh_gDMF
To: /content/Domain extract/Domain_click_3.csv
100%|██████████| 485k/485k [00:00<00:00, 51.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1LlGfDJbi3tvMpsCLPwkG8Q5JMf642ObF
To: /content/Domain extract/Domain_click_4.csv
100%|██████████| 456k/456k [00:00<00:00, 81.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1-oRnDLeRN_oxt3HjX7Z4O9wlb-Nou3Yz
To: /content/Domain extract/Domain_click_5.csv
100%|██████████| 493k/493k [00:00<00:00, 57.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1DcXh4LCxL_THi9TK4XXbfyl9B2_GEJG1
To: /content/Domain extract/Domain_click_6.csv
100%|██████████| 483k/483k [00:00<00:00, 86.1MB/s]
Download completed

['/content/Domain extract/Domain_click_1.csv',
 '/content/Domain extract/Domain_click_2.csv',
 '/content/Domain extract/Domain_click_3.csv',
 '/content/Domain extract/Domain_click_4.csv',
 '/content/Domain extract/Domain_click_5.csv',
 '/content/Domain extract/Domain_click_6.csv']

In [24]:
df1 = pd.read_csv('/content/Domain extract/Domain_click_1.csv')
df2 = pd.read_csv('/content/Domain extract/Domain_click_2.csv')
df3 = pd.read_csv('/content/Domain extract/Domain_click_3.csv')
df4 = pd.read_csv('/content/Domain extract/Domain_click_4.csv')
df5 = pd.read_csv('/content/Domain extract/Domain_click_5.csv')
df6 = pd.read_csv('/content/Domain extract/Domain_click_6.csv')

In [25]:
# suburbdf = pd.DataFrame()
suburbdf = pd.concat([suburbdf,df1],ignore_index =True)
suburbdf = pd.concat([suburbdf,df2],ignore_index =True)
suburbdf = pd.concat([suburbdf,df3],ignore_index =True)
suburbdf = pd.concat([suburbdf,df4],ignore_index =True)
suburbdf = pd.concat([suburbdf,df5],ignore_index =True)
suburbdf = pd.concat([suburbdf,df6],ignore_index =True)
suburbdf

,Bedrooms,Type,Median Price,Avg Days on Market,Clearance Rate,Sold This Year,POPULATION,AVERAGE AGE,OWNER,RENTER,...,no_of_sales_2021,median_price_2020,growth_rate_2020,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018
0,2.0,House,-,-,-,1.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,House,$598k,62 days,-,17.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,$415k,13.7%,13.0,$365k,-4.5%,14.0,NaN,NaN,NaN
4,4.0,House,$680k,49 days,-,65.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,$566k,-1.6%,46,$575k,-4.5%,45,NaN,NaN,NaN
52840,4.0,House,$970k,53 days,-,50.0,"8,226",40 to 59,85%,15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.0,$693k,1.9%,69,$680k,-6.8%,55,NaN,NaN,NaN
52842,5.0,House,-,-,-,9.0,"8,226",40 to 59,85%,15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df = suburbdf

In [27]:
len(suburbdf['SUBURB'].unique())

6438

In [28]:
name = 'DomainData.csv'
suburbdf.to_csv(name, index=False)

# checkpoint

In [29]:
df.columns

Index(['Bedrooms', 'Type', 'Median Price', 'Avg Days on Market',
       'Clearance Rate', 'Sold This Year', 'POPULATION', 'AVERAGE AGE',
       'OWNER', 'RENTER', 'FAMILY', 'SINGLE', 'SUBURB', 'Time_stamp',
       'Sold this year: ', 'Rental median price: ',
       'Auction clearance (Higher = more competition): ',
       'Average days on market (Lower = more competition): ',
       'median_price_2023', 'growth_rate_2023', 'no_of_sales_2023',
       'median_price_2022', 'growth_rate_2022', 'no_of_sales_2022',
       'median_price_2021', 'growth_rate_2021', 'no_of_sales_2021',
       'median_price_2020', 'growth_rate_2020', 'no_of_sales_2020',
       'median_price_2019', 'growth_rate_2019', 'no_of_sales_2019',
       'median_price_2018', 'growth_rate_2018', 'no_of_sales_2018'],
      dtype='object')

In [30]:
df = pd.read_csv('/content/DomainData.csv')

<ipython-input-30-f57b74043db1>:1: DtypeWarning: Columns (23,26,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/DomainData.csv')

In [31]:
selected = df.iloc[:,14:].columns
df[selected] = df[selected].shift(-1)
df = df.dropna(axis=0, how='all')
df

,Bedrooms,Type,Median Price,Avg Days on Market,Clearance Rate,Sold This Year,POPULATION,AVERAGE AGE,OWNER,RENTER,...,no_of_sales_2021,median_price_2020,growth_rate_2020,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018
0,2.0,House,-,-,-,1.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,House,$598k,62 days,-,17.0,"3,103",20 to 39,63%,37%,...,23.0,$415k,13.7%,13.0,$365k,-4.5%,14.0,NaN,NaN,NaN
4,4.0,House,$680k,49 days,-,65.0,"3,103",20 to 39,63%,37%,...,106.0,$439k,-0.2%,62.0,$440k,-7.4%,55.0,NaN,NaN,NaN
6,5.0,House,$793k,54 days,-,12.0,"3,103",20 to 39,63%,37%,...,12.0,NaN,-,8.0,NaN,-,9.0,NaN,NaN,NaN
8,2.0,Unit,-,-,-,2.0,"3,103",20 to 39,63%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52834,4.0,House,-,-,-,2.0,121,60+,92%,8%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52836,2.0,House,-,-,-,1.0,"8,226",40 to 59,85%,15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52838,3.0,House,$790k,26 days,-,28.0,"8,226",40 to 59,85%,15%,...,40.0,$566k,-1.6%,46,$575k,-4.5%,45,NaN,NaN,NaN
52840,4.0,House,$970k,53 days,-,50.0,"8,226",40 to 59,85%,15%,...,82.0,$693k,1.9%,69,$680k,-6.8%,55,NaN,NaN,NaN
52842,5.0,House,-,-,-,9.0,"8,226",40 to 59,85%,15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df['Postcode'] = df['SUBURB'].apply(lambda x: x[-4:].title())
df['State'] = df['SUBURB'].apply(lambda x: x.split('-')[-2].title())
df['Suburb Name'] = df['SUBURB'].apply(lambda x: ' '.join(x.split('-')[:-2]).title())
df['Postcode'] = df['Postcode'].apply(lambda x: str(x).zfill(4))

In [33]:
state_names = {
    'Tas': 'Tasmania',
    'Nsw': 'New South Wales',
    'Qld': 'Queensland',
    'Nt': 'Northern Territory',
    'Vic': 'Victoria',
    'Sa': 'South Australia',
    'Act': 'Australian Capital Territory',
    'Wa': 'Western Australia'
    }
df['State'] = df['State'].replace(state_names)

In [34]:
new_column_names = {col: col.lower().replace(' ', '_') for col in df.columns}
df = df.rename(columns=new_column_names)

In [35]:
df['avg_days_on_market'] = df['avg_days_on_market'].apply(lambda x: np.nan if x == '-' else str(x).replace(' days', ''))

In [36]:
df[['median_price','median_price_2018','median_price_2019','median_price_2020','median_price_2021','median_price_2022','median_price_2023']]

,median_price,median_price_2018,median_price_2019,median_price_2020,median_price_2021,median_price_2022,median_price_2023
0,-,NaN,NaN,NaN,NaN,NaN,NaN
2,$598k,NaN,$365k,$415k,$402k,$520k,$598k
4,$680k,NaN,$440k,$439k,$477k,$580k,$680k
6,$793k,NaN,NaN,NaN,$633k,$870k,$793k
8,-,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
52834,-,NaN,NaN,NaN,NaN,NaN,NaN
52836,-,NaN,NaN,NaN,NaN,NaN,NaN
52838,$790k,NaN,$575k,$566k,$580k,$794k,$790k
52840,$970k,NaN,$680k,$693k,$767k,$989k,$970k
52842,-,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df[['median_price','median_price_2018','median_price_2019','median_price_2020','median_price_2021','median_price_2022','median_price_2023']]

,median_price,median_price_2018,median_price_2019,median_price_2020,median_price_2021,median_price_2022,median_price_2023
0,-,NaN,NaN,NaN,NaN,NaN,NaN
2,$598k,NaN,$365k,$415k,$402k,$520k,$598k
4,$680k,NaN,$440k,$439k,$477k,$580k,$680k
6,$793k,NaN,NaN,NaN,$633k,$870k,$793k
8,-,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
52834,-,NaN,NaN,NaN,NaN,NaN,NaN
52836,-,NaN,NaN,NaN,NaN,NaN,NaN
52838,$790k,NaN,$575k,$566k,$580k,$794k,$790k
52840,$970k,NaN,$680k,$693k,$767k,$989k,$970k
52842,-,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
del df[df.columns[14]]
df = df.rename(columns = {df.columns[14]:'rental_median_price',df.columns[15]:'auction_clearance',df.columns[16]:'average_days_on_market'})

In [39]:
def convert_to_float(value):
    try:

      multiplier = 1
      if value.endswith('k'):
          multiplier = 1000
      elif value.endswith('m'):
          multiplier = 1000000
      value = re.sub('[^\d.]', '', value)
      return (float(value) * multiplier)
    except:
      None

columns_to_clean = ['median_price','rental_median_price', 'median_price_2018', 'median_price_2019', 'median_price_2020', 'median_price_2021', 'median_price_2022', 'median_price_2023']
for column in columns_to_clean:
    df[column] = df[column].astype(str).apply(lambda x: x.replace('$', '') if pd.notnull(x) else x)
    df[column] = [convert_to_float(value) for value in df[column]]

df[['median_price','rental_median_price','median_price_2018','median_price_2019','median_price_2020','median_price_2021','median_price_2022','median_price_2023']]

,median_price,rental_median_price,median_price_2018,median_price_2019,median_price_2020,median_price_2021,median_price_2022,median_price_2023
0,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
2,598000.0,585.0,None,365000.0,415000.0,402000.0,520000.0,598000.0
4,680000.0,650.0,None,440000.0,439000.0,477000.0,580000.0,680000.0
6,793000.0,NaN,None,NaN,NaN,633000.0,870000.0,793000.0
8,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
52834,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
52836,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
52838,790000.0,570.0,None,575000.0,566000.0,580000.0,794000.0,790000.0
52840,970000.0,700.0,None,680000.0,693000.0,767000.0,989000.0,970000.0
52842,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN

In [40]:
df[['growth_rate_2018','growth_rate_2019','growth_rate_2020','growth_rate_2021','growth_rate_2022','growth_rate_2023']]

,growth_rate_2018,growth_rate_2019,growth_rate_2020,growth_rate_2021,growth_rate_2022,growth_rate_2023
0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-4.5%,13.7%,-3.1%,29.4%,15%
4,NaN,-7.4%,-0.2%,8.7%,21.6%,17.2%
6,NaN,-,-,-,37.4%,-8.9%
8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
52834,NaN,NaN,NaN,NaN,NaN,NaN
52836,NaN,NaN,NaN,NaN,NaN,NaN
52838,NaN,-4.5%,-1.6%,2.5%,36.9%,-0.5%
52840,NaN,-6.8%,1.9%,10.7%,28.9%,-1.9%
52842,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
columns_to_clean = ['growth_rate_2018','growth_rate_2019','growth_rate_2020','growth_rate_2021','growth_rate_2022','growth_rate_2023']
for column in columns_to_clean:
    df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df[['growth_rate_2018','growth_rate_2019','growth_rate_2020','growth_rate_2021','growth_rate_2022','growth_rate_2023']]

,growth_rate_2018,growth_rate_2019,growth_rate_2020,growth_rate_2021,growth_rate_2022,growth_rate_2023
0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-4.5,13.7,-3.1,29.4,15.0
4,NaN,-7.4,-0.2,8.7,21.6,17.2
6,NaN,NaN,NaN,NaN,37.4,-8.9
8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
52834,NaN,NaN,NaN,NaN,NaN,NaN
52836,NaN,NaN,NaN,NaN,NaN,NaN
52838,NaN,-4.5,-1.6,2.5,36.9,-0.5
52840,NaN,-6.8,1.9,10.7,28.9,-1.9
52842,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df['avg_days_on_market'] = df['avg_days_on_market'].astype(float)
df['clearance_rate'] = df['clearance_rate'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['population'] = df['population'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',', '').replace('+', '')))
df['owner'] = df['owner'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['renter'] = df['renter'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['family'] = df['family'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['single'] = df['single'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['auction_clearance'] = df['auction_clearance'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))

In [43]:
del df['average_days_on_market']

In [44]:
columns_to_clean = ['no_of_sales_2018','no_of_sales_2019','no_of_sales_2020','no_of_sales_2021','no_of_sales_2022','no_of_sales_2023']
for column in columns_to_clean:
    df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(x))

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26422 entries, 0 to 52842
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bedrooms             26422 non-null  float64
 1   type                 26422 non-null  object
 2   median_price         9493 non-null   float64
 3   avg_days_on_market   8208 non-null   float64
 4   clearance_rate       2525 non-null   float64
 5   sold_this_year       26422 non-null  float64
 6   population           25418 non-null  float64
 7   average_age          25395 non-null  object
 8   owner                25391 non-null  float64
 9   renter               25391 non-null  float64
 10  family               25144 non-null  float64
 11  single               25143 non-null  float64
 12  suburb               26422 non-null  object
 13  time_stamp           26422 non-null  object
 14  rental_median_price  7749 non-null   float64
 15  auction_clearance    2512 non-null   float64
 16  median_price_2023    9496 non-null   float64
 17  growth_rate_2023     8766 non-null   float64
 18  no_of_sales_2023     9563 non-null   float64
 19  median_price_2022    8939 non-null   float64
 20  growth_rate_2022     8312 non-null   float64
 21  no_of_sales_2022     9561 non-null   float64
 22  median_price_2021    8619 non-null   float64
 23  growth_rate_2021     7515 non-null   float64
 24  no_of_sales_2021     9555 non-null   float64
 25  median_price_2020    7804 non-null   float64
 26  growth_rate_2020     6964 non-null   float64
 27  no_of_sales_2020     9505 non-null   float64
 28  median_price_2019    7612 non-null   float64
 29  growth_rate_2019     7048 non-null   float64
 30  no_of_sales_2019     9510 non-null   float64
 31  median_price_2018    0 non-null      object
 32  growth_rate_2018     0 non-null      float64
 33  no_of_sales_2018     1 non-null      float64
 34  postcode             26422 non-null  object
 35  state                26422 non-null  object
 36  suburb_name          26422 non-null  object
dtypes: float64(29), object(8)
memory usage: 7.7+ MB

In [46]:
df['postcode'] = df['postcode'].apply(lambda x: str(x).zfill(4))

In [47]:
df

,bedrooms,type,median_price,avg_days_on_market,clearance_rate,sold_this_year,population,average_age,owner,renter,...,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018,postcode,state,suburb_name
0,2.0,House,NaN,NaN,NaN,1.0,3103.0,20 to 39,63.0,37.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,4879,Queensland,Trinity Park
2,3.0,House,598000.0,62.0,NaN,17.0,3103.0,20 to 39,63.0,37.0,...,13.0,365000.0,-4.5,14.0,None,NaN,NaN,4879,Queensland,Trinity Park
4,4.0,House,680000.0,49.0,NaN,65.0,3103.0,20 to 39,63.0,37.0,...,62.0,440000.0,-7.4,55.0,None,NaN,NaN,4879,Queensland,Trinity Park
6,5.0,House,793000.0,54.0,NaN,12.0,3103.0,20 to 39,63.0,37.0,...,8.0,NaN,NaN,9.0,None,NaN,NaN,4879,Queensland,Trinity Park
8,2.0,Unit,NaN,NaN,NaN,2.0,3103.0,20 to 39,63.0,37.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,4879,Queensland,Trinity Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52834,4.0,House,NaN,NaN,NaN,2.0,121.0,60+,92.0,8.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,6275,Western Australia,Jalbarragup
52836,2.0,House,NaN,NaN,NaN,1.0,8226.0,40 to 59,85.0,15.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2530,New South Wales,Horsley
52838,3.0,House,790000.0,26.0,NaN,28.0,8226.0,40 to 59,85.0,15.0,...,46.0,575000.0,-4.5,45.0,None,NaN,NaN,2530,New South Wales,Horsley
52840,4.0,House,970000.0,53.0,NaN,50.0,8226.0,40 to 59,85.0,15.0,...,69.0,680000.0,-6.8,55.0,None,NaN,NaN,2530,New South Wales,Horsley
52842,5.0,House,NaN,NaN,NaN,9.0,8226.0,40 to 59,85.0,15.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2530,New South Wales,Horsley

In [48]:
df.columns

Index(['bedrooms', 'type', 'median_price', 'avg_days_on_market',
       'clearance_rate', 'sold_this_year', 'population', 'average_age',
       'owner', 'renter', 'family', 'single', 'suburb', 'time_stamp',
       'rental_median_price', 'auction_clearance', 'median_price_2023',
       'growth_rate_2023', 'no_of_sales_2023', 'median_price_2022',
       'growth_rate_2022', 'no_of_sales_2022', 'median_price_2021',
       'growth_rate_2021', 'no_of_sales_2021', 'median_price_2020',
       'growth_rate_2020', 'no_of_sales_2020', 'median_price_2019',
       'growth_rate_2019', 'no_of_sales_2019', 'median_price_2018',
       'growth_rate_2018', 'no_of_sales_2018', 'postcode', 'state',
       'suburb_name'],
      dtype='object')

In [49]:
df = df.reset_index(drop=True)

In [50]:
df = df.sort_values(by=['postcode', 'suburb_name'])

In [51]:
df['rental_yield'] = round((df['rental_median_price'] * 12 / df['median_price']) * 100,2)

In [52]:
custom = ['postcode', 'state','suburb_name','bedrooms', 'type', 'rental_yield','median_price', 'avg_days_on_market',
       'clearance_rate', 'sold_this_year', 'population', 'average_age',
       'owner', 'renter', 'family', 'single', 'suburb', 'time_stamp',
       'rental_median_price', 'auction_clearance', 'median_price_2023',
       'growth_rate_2023', 'no_of_sales_2023', 'median_price_2022',
       'growth_rate_2022', 'no_of_sales_2022', 'median_price_2021',
       'growth_rate_2021', 'no_of_sales_2021', 'median_price_2020',
       'growth_rate_2020', 'no_of_sales_2020', 'median_price_2019',
       'growth_rate_2019', 'no_of_sales_2019', 'median_price_2018',
       'growth_rate_2018', 'no_of_sales_2018']
df = df.reindex(columns = custom)
df

,postcode,state,suburb_name,bedrooms,type,rental_yield,median_price,avg_days_on_market,clearance_rate,sold_this_year,...,no_of_sales_2021,median_price_2020,growth_rate_2020,no_of_sales_2020,median_price_2019,growth_rate_2019,no_of_sales_2019,median_price_2018,growth_rate_2018,no_of_sales_2018
55,0800,Northern Territory,Darwin City,2.0,House,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
56,0800,Northern Territory,Darwin City,3.0,House,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
57,0800,Northern Territory,Darwin City,4.0,House,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
58,0800,Northern Territory,Darwin City,1.0,Unit,2.07,255000.0,180.0,NaN,55.0,...,27.0,200000.0,-12.7,23.0,229000.0,NaN,26.0,None,NaN,NaN
59,0800,Northern Territory,Darwin City,2.0,Unit,1.69,413000.0,172.0,NaN,113.0,...,68.0,300000.0,-15.0,51.0,353000.0,1.4,34.0,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11081,7470,Tasmania,Rosebery,3.0,House,NaN,170000.0,48.0,NaN,21.0,...,18.0,NaN,NaN,7.0,NaN,NaN,9.0,None,NaN,NaN
11082,7470,Tasmania,Rosebery,4.0,House,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
11083,7470,Tasmania,Rosebery,5.0,House,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
11084,7470,Tasmania,Rosebery,2.0,Unit,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
11085,7470,Tasmania,Rosebery,3.0,Unit,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN

In [53]:
australia_timezone = pytz.timezone('Australia/Sydney')
current_time = datetime.datetime.now(australia_timezone)
filename = 'Domain_Extract_'+ str(current_time.date()).replace('-', '')+'.xlsx'
df.to_excel(filename,index = False)