In [228]:
import pandas as pd
import gdown
import numpy as np
import re

In [229]:
gdown.download(id = '1qAqsQSoACpQkSNIsz6g4haTq96Go4AdA')

Downloading...
From: https://drive.google.com/uc?id=1qAqsQSoACpQkSNIsz6g4haTq96Go4AdA
To: /content/suburbs.xlsx
100%|██████████| 301k/301k [00:00<00:00, 63.7MB/s]

'suburbs.xlsx'

In [230]:
df = pd.read_excel('/content/suburbs.xlsx')

In [231]:
def clean_string(text):
    text = re.sub('[^A-Za-z0-9\s]', ' ', text)
    return text.title()

In [232]:
df['Postcode'] = df['Concatenation for Domain'].apply(lambda x: x[-4:].title())
df['State'] = df['Concatenation for Domain'].apply(lambda x: x.split('-')[-2].title())
df['Suburb Name'] = df['Concatenation for Domain'].apply(lambda x: ' '.join(x.split('-')[:-2]).title())
df.head()

,Suburb Name,State,Postcode,Concatenation for Domain,Concatenation for Homely
0,Oaks,Tas,7303,oaks-tas-7303,NaN
1,Gibraltar Range,Nsw,2370,gibraltar-range-nsw-2370,NaN
2,Bulli Creek,Qld,4357,bulli-creek-qld-4357,NaN
3,Gurindji,Nt,0852,gurindji-nt-0852,NaN
4,Buckenderra,Nsw,2630,buckenderra-nsw-2630,NaN

In [233]:
df['Suburb Name'] = df['Suburb Name'].apply(lambda x: clean_string(x))

In [234]:
df['State'].unique()

array(['Tas', 'Nsw', 'Qld', 'Nt', 'Vic', 'Sa', 'Act', 'Wa'], dtype=object)

In [235]:
state_names = {
    'Tas': 'Tasmania',
    'Nsw': 'New South Wales',
    'Qld': 'Queensland',
    'Nt': 'Northern Territory',
    'Vic': 'Victoria',
    'Sa': 'South Australia',
    'Act': 'Australian Capital Territory',
    'Wa': 'Western Australia'
    }
df['State'] = df['State'].replace(state_names)
df.head()

,Suburb Name,State,Postcode,Concatenation for Domain,Concatenation for Homely
0,Oaks,Tasmania,7303,oaks-tas-7303,NaN
1,Gibraltar Range,New South Wales,2370,gibraltar-range-nsw-2370,NaN
2,Bulli Creek,Queensland,4357,bulli-creek-qld-4357,NaN
3,Gurindji,Northern Territory,0852,gurindji-nt-0852,NaN
4,Buckenderra,New South Wales,2630,buckenderra-nsw-2630,NaN

In [236]:
df = df.rename(columns={'Concatenation for Domain':'Search string for Domain'})
df['Link for Domain'] = df['Search string for Domain'].apply(lambda x: 'https://www.domain.com.au/suburb-profile/'+str(x))
del df['Concatenation for Homely']
df

,Suburb Name,State,Postcode,Search string for Domain,Link for Domain
0,Oaks,Tasmania,7303,oaks-tas-7303,https://www.domain.com.au/suburb-profile/oaks-...
1,Gibraltar Range,New South Wales,2370,gibraltar-range-nsw-2370,https://www.domain.com.au/suburb-profile/gibra...
2,Bulli Creek,Queensland,4357,bulli-creek-qld-4357,https://www.domain.com.au/suburb-profile/bulli...
3,Gurindji,Northern Territory,0852,gurindji-nt-0852,https://www.domain.com.au/suburb-profile/gurin...
4,Buckenderra,New South Wales,2630,buckenderra-nsw-2630,https://www.domain.com.au/suburb-profile/bucke...
...,...,...,...,...,...
15874,Bindi,Victoria,3896,bindi-vic-3896,https://www.domain.com.au/suburb-profile/bindi...
15875,Mongarlowe,New South Wales,2622,mongarlowe-nsw-2622,https://www.domain.com.au/suburb-profile/monga...
15876,Teal Point,Victoria,3579,teal-point-vic-3579,https://www.domain.com.au/suburb-profile/teal-...
15877,Macdonalds Creek,New South Wales,2339,macdonalds-creek-nsw-2339,https://www.domain.com.au/suburb-profile/macdo...
15878,Branch Creek,Queensland,4625,branch-creek-qld-4625,https://www.domain.com.au/suburb-profile/branc...

In [237]:
# merged_table = pd.merge(df, dfh, on=['Postcode', 'State', 'Suburb Name'], how='left')
# del merged_table['Concatenation for Homely']
# merged_table = merged_table.rename(columns={'0':'Concatenation for Homely'})
# df = merged_table
# df[df['Concatenation for Homely'].notnull()].shape

In [238]:
df = df.sort_values(by=['Postcode', 'Suburb Name'])
df = df.reset_index(drop=True)
df.index += 1
df

,Suburb Name,State,Postcode,Search string for Domain,Link for Domain
1,Darwin City,Northern Territory,0800,darwin-city-nt-0800,https://www.domain.com.au/suburb-profile/darwi...
2,Alawa,Northern Territory,0810,alawa-nt-0810,https://www.domain.com.au/suburb-profile/alawa...
3,Brinkin,Northern Territory,0810,brinkin-nt-0810,https://www.domain.com.au/suburb-profile/brink...
4,Casuarina,Northern Territory,0810,casuarina-nt-0810,https://www.domain.com.au/suburb-profile/casua...
5,Coconut Grove,Northern Territory,0810,coconut-grove-nt-0810,https://www.domain.com.au/suburb-profile/cocon...
...,...,...,...,...,...
15875,Granville Harbour,Tasmania,7469,granville-harbour-tas-7469,https://www.domain.com.au/suburb-profile/granv...
15876,Renison Bell,Tasmania,7469,renison-bell-tas-7469,https://www.domain.com.au/suburb-profile/renis...
15877,Trial Harbour,Tasmania,7469,trial-harbour-tas-7469,https://www.domain.com.au/suburb-profile/trial...
15878,Zeehan,Tasmania,7469,zeehan-tas-7469,https://www.domain.com.au/suburb-profile/zeeha...
15879,Rosebery,Tasmania,7470,rosebery-tas-7470,https://www.domain.com.au/suburb-profile/roseb...

In [239]:
#df.to_excel('suburbs.xlsx')

In [240]:
homely = pd.read_csv('/content/HomelyExtract_20230622.csv')
# df['Postcode'] = df['Concatenation for Domain'].apply(lambda x: x[-4:].title())
# df['State'] = df['Concatenation for Domain'].apply(lambda x: x.split('-')[-2].title())
# df['Suburb Name'] = df['Concatenation for Domain'].apply(lambda x: ' '.join(x.split('-')[:-2]).title())
# df.head()

In [241]:
homely['Suburb Name'].head()

0      Acton, ACT 2601
1    Ainslie, ACT 2602
2     Amaroo, ACT 2914
3     Aranda, ACT 2614
4      Banks, ACT 2906
Name: Suburb Name, dtype: object

In [242]:
homely[homely['Suburb Name'].isnull()]

,Suburb Name,Ratings,Number of Reviews,Rankings,Great for,Not great for,Who lives here?,Time Stamp,Url,Region
3898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-06-21 02:58:46.809718+10:00,https://www.homely.com.au/leichhardt-ipswich-b...,https://www.homely.com.au/find-suburb-by-regio...
8745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-06-21 03:13:34.169813+10:00,https://www.homely.com.au/thorpdale-baw-baw-gi...,https://www.homely.com.au/find-suburb-by-regio...
9925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-06-21 04:45:53.244323+10:00,https://www.homely.com.au/rutherglen-indigo-ov...,https://www.homely.com.au/find-suburb-by-regio...

In [243]:
homely.dropna(subset=['Suburb Name'], inplace=True)

In [244]:
homely['Postcode'] = homely['Suburb Name'].apply(lambda x: x[-4:].title())
homely['State'] = homely['Suburb Name'].apply(lambda x: x.split(' ')[-2].title())
homely['Suburb'] = homely['Suburb Name'].apply(lambda x: (' '.join(x.split(' ')[:-2]).title()).strip(','))

In [245]:
homely['State'] = homely['State'].replace(state_names)

In [246]:
homely['State'].unique()

array(['Australian Capital Territory', 'New South Wales',
       'Northern Territory', 'Queensland', 'South Australia', 'Tasmania',
       'Victoria', 'Western Australia', 'Code'], dtype=object)

In [247]:
homely = homely[homely['State'] != 'Code']

In [248]:
homely.drop_duplicates(['Postcode', 'State', 'Suburb'],inplace = True)
homely.shape

(11496, 13)

In [249]:
homely['Number of Reviews'] = homely['Number of Reviews'].str.extract('(\d+)').astype(int)
homely['Search string for Homely'] = homely['Url'].apply(lambda x: x.split('/')[3])
homely['Region'] = homely['Region'].replace(np.nan, 'Na/na/Na/na/na').apply(lambda x: x.split('/')[4])
homely['Region'] = homely['Region'].apply(lambda x: ' '.join(x.split('-')).strip(' ') )

state_list = list(homely.State.unique())
for item in state_list:
    homely['Region'] = homely['Region'].str.replace(item.lower(), '')
homely['Region'] = homely['Region'].str.title()
homely['Region'] = homely['Region'].str.strip(' ')

#homely[homely['Link_check'] == 1]

In [250]:
homely['Suburb'] = homely['Suburb'].apply(lambda x: clean_string(x))

In [251]:
homely = homely.rename(columns={'Url':'Link for Homely','Suburb Name':'Search String'})

In [252]:
homely.columns

Index(['Search String', 'Ratings', 'Number of Reviews', 'Rankings',
       'Great for', 'Not great for', 'Who lives here?', 'Time Stamp',
       'Link for Homely', 'Region', 'Postcode', 'State', 'Suburb',
       'Search string for Homely'],
      dtype='object')

In [253]:
custom_order = ['Postcode', 'State', 'Suburb', 'Search String', 'Ratings', 'Number of Reviews', 'Rankings',
       'Great for', 'Not great for', 'Who lives here?', 'Time Stamp', 'Region', 'Search string for Homely','Link for Homely']

homely = homely.reindex(columns=custom_order)

In [254]:
homely = homely.sort_values(by=['Postcode', 'Suburb'])
homely = homely.reset_index(drop=True)
homely.index += 1

In [256]:
#homely.to_csv('HomelyExtract_20230622.csv')

In [ ]:
suburbs = pd.merge(df, homely, left_on=['Postcode', 'State', 'Suburb Name'], right_on= ['Postcode', 'State', 'Suburb'], how='left')

suburbs.drop([''], axis=1, inplace=True)
# merged_data = df.merge(homely, left_on=['Postcode', 'State', 'Suburb Name'], right_on=['Postcode', 'State', 'Suburb'], how='outer', indicator=True)
# rightonly = merged_data[merged_data['_merge'] == 'right_only']

In [264]:
# suburbs.drop(['Suburb', 'Search String', 'Ratings',
#        'Number of Reviews', 'Rankings', 'Great for', 'Not great for',
#        'Who lives here?', 'Time Stamp'], axis=1, inplace=True)
suburbs = suburbs.sort_values(by=['Postcode', 'Suburb Name'])
suburbs = suburbs.reset_index(drop=True)
suburbs.index += 1
suburbs

,Suburb Name,State,Postcode,Search string for Domain,Link for Domain,Region,Search string for Homely,Link for Homely
1,Darwin City,Northern Territory,0800,darwin-city-nt-0800,https://www.domain.com.au/suburb-profile/darwi...,Darwin,darwin-city-darwin-darwin-northern-territory-o...,https://www.homely.com.au/darwin-city-darwin-d...
2,Alawa,Northern Territory,0810,alawa-nt-0810,https://www.domain.com.au/suburb-profile/alawa...,Darwin,alawa-darwin-darwin-northern-territory,https://www.homely.com.au/alawa-darwin-darwin-...
3,Brinkin,Northern Territory,0810,brinkin-nt-0810,https://www.domain.com.au/suburb-profile/brink...,Darwin,brinkin-darwin-darwin-northern-territory-other...,https://www.homely.com.au/brinkin-darwin-darwi...
4,Casuarina,Northern Territory,0810,casuarina-nt-0810,https://www.domain.com.au/suburb-profile/casua...,Darwin,casuarina-darwin-northern-territory,https://www.homely.com.au/casuarina-darwin-nor...
5,Coconut Grove,Northern Territory,0810,coconut-grove-nt-0810,https://www.domain.com.au/suburb-profile/cocon...,Darwin,coconut-grove-darwin-darwin-northern-territory...,https://www.homely.com.au/coconut-grove-darwin...
...,...,...,...,...,...,...,...,...
15875,Granville Harbour,Tasmania,7469,granville-harbour-tas-7469,https://www.domain.com.au/suburb-profile/granv...,Mersey Lyell,granville-harbour-mersey-lyell-tasmania,https://www.homely.com.au/granville-harbour-me...
15876,Renison Bell,Tasmania,7469,renison-bell-tas-7469,https://www.domain.com.au/suburb-profile/renis...,NaN,NaN,NaN
15877,Trial Harbour,Tasmania,7469,trial-harbour-tas-7469,https://www.domain.com.au/suburb-profile/trial...,NaN,NaN,NaN
15878,Zeehan,Tasmania,7469,zeehan-tas-7469,https://www.domain.com.au/suburb-profile/zeeha...,Mersey Lyell,zeehan-west-coast-mersey-lyell-tasmania,https://www.homely.com.au/zeehan-west-coast-me...
15879,Rosebery,Tasmania,7470,rosebery-tas-7470,https://www.domain.com.au/suburb-profile/roseb...,Mersey Lyell,rosebery-west-coast-mersey-lyell-tasmania,https://www.homely.com.au/rosebery-west-coast-...

In [265]:
suburbs.to_csv('Suburbs.csv')